@charset "UTF-8";

.wrapper{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
}

#pagetitle{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  margin: 5px;
  font-size: 50px; font-family: "맑은 고딕", verdana; font-weight: 700;

}

#navbar{
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 5px;
  font-size: 20px;
  list-style:none;
  display:inline;
}

#content{
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  margin-top: 30px;
}

#navbar li{
  margin: 2px;
}

.blacklink{
  color: black; text-decoration: none;
}

.bluelink{
  color: #9999ff; text-decoration: none;
}

#skillslist li div{
  display:inline-block;
}

#skillslist li{
  list-style:none;
}
